
sim/rtl_sim/run/simv.daidir
sim/rtl_sim/run/csrc
sim/rtl_sim/run/log
sim/rtl_sim/run/simv
sim/rtl_sim/run/stimulus.v
sim/rtl_sim/run/tb_ahb_periph_example.vcd

synthesis/synopsys/alib-52
synthesis/synopsys/results*
synthesis/synopsys/libraries/setup_t*
synthesis/synopsys/libraries/setup_lib_default*
synthesis/synopsys/libraries/t*
synthesis/synopsys/WORK
synthesis/synopsys/*_d
synthesis/synopsys/filenames.log
synthesis/synopsys/clog*
synthesis/synopsys/submit_syn.tcl
