
sim/rtl_sim/run/simv.daidir
sim/rtl_sim/run/csrc
sim/rtl_sim/run/log
sim/rtl_sim/run/stats
sim/rtl_sim/run/simv
sim/rtl_sim/run/stimulus.v
sim/rtl_sim/run/asphalt.log
sim/rtl_sim/run/benchmark_traces
sim/rtl_sim/run/*.vcd
sim/rtl_sim/run/pmem.*
sim/rtl_sim/run/obj_dir
sim/rtl_sim/run/march_config.sh
sim/rtl_sim/run/submit_sim.f
sim/rtl_sim/run/submit_lint.f
sim/rtl_sim/run/flat_lint.f

software/apps/*/*.elf
software/apps/*/*.ihex
software/apps/*/*.lst
software/apps/*/*.size
software/apps/*/*.o
software/apps/*/*/*.o

synthesis/altera/WORK
synthesis/altera/bitstreams/*.sof
synthesis/altera/bitstreams/*.svf
synthesis/altera/scripts/design_files.qsf
synthesis/altera/setup_d.*
